# MacOS Desktop Services Store
.DS_Store

# Editor
.vscode/**
!.vscode/launch.json
!.vscode/tasks.json
.idea/

# mkdocs files
site/
.cache/
codes/scripts
docs/overrides/

# python files
__pycache__

# iml
hello-algo.iml
